#symbol_map {
	top:100px;
	bottom: 100px; 
	left: 50px;
	right: 0px;
	/*height: 1000px;
	width: 800px;*/
}
#symbol_map2 {
	top:100px;
	bottom: 100px; 
	left: 0px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}
#symbol_map3 {
	top:100px;
	bottom: 100px; 
	left: 50px;
	right: 100px; 
	/*height: 1000px;
	width: 800px;*/
}
#intro {
	bottom: 100px; 
	left: 300px;
	right: 300px; 
	align-content: center;
	padding: 10px;
	color: rgb(38, 38, 63);
	/*height: 1000px;
	width: 800px;*/
}
.l-box { 
	padding: 5rem; 
	border: 5rem solid darkcyan; 
	background-color: lightslategray; 
} 

.charttext {
	font-size: 14px;
	text-align: left;
	align-content: center;
}



body *{
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 900;
	text-align: center;
}
h2 {

	text-align: center;
}

body {
    background-color: lightgray;
}

.page {
    width: 1200px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 40px;
}

.small-font {
    font-size: 14px;
}


/*.outerrow {
	display: flex;
	flex-direction: col;
}
	
#outerrow {
	top:200px;
	bottom: 200px; 
	left: 200px;
	right: 200px;
	/*height: 1000px;
	width: 800px;
}
*/
